@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg {
  background: linear-gradient(180deg, #17083f 0%, #000000 100%);
  position: relative;
}

.bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/bg.png") top left/cover no-repeat;
  z-index: 1;
  pointer-events: none;
}

.button-bg {
  background: linear-gradient(180deg, #552cd1 0%, #35176b 100%);
}

/* Make sure your content is above the background */
.bg > * {
  position: relative;
  z-index: 2;
}
.gradient-text {
  background: linear-gradient(
    90deg,
    rgba(221, 142, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.transaction-type-bg {
  background: var(--Control-Active, rgba(248, 248, 248, 0.05));
  background-blend-mode: luminosity;
}

.transaction-type-border {
  border: 0.57px solid;

  border-image-source: linear-gradient(
    158.39deg,
    rgba(255, 255, 255, 0.1) 14.19%,
    rgba(255, 255, 255, 2.5e-5) 50.59%,
    rgba(255, 255, 255, 2.5e-5) 68.79%,
    rgba(255, 255, 255, 0.025) 105.18%
  );
}

.next-button-bg {
  background: linear-gradient(180deg, #552cd1 0%, #35176b 100%);
}

.customize-caret {
  caret-color: rgba(213, 106, 255, 1);
}

.create-term-btn {
  border-radius: 8px;
  background: linear-gradient(180deg, #552cd1 0%, #35176b 100%);
  padding: 10px 24px;
  cursor: pointer;
}

.dashboard .starknet-finace-text {
  color: #d56aff;
  font-family: Bahnschrift;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.dashboard {
  background: #1c1c1c;
  padding: 14px;
  border-radius: 8px;
  height: 100vh;
  width: 272px;
}

.dashboard .actions div:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.dashboard .actions div:last-child {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dashboard .comingsoon {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 21px;
  width: 75px;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  border-radius: 7px;
  background: linear-gradient(90deg, #dd8eff 0%, #fff 100%);
}

.temp {
  color: #d56aff;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
